:root {
	--bg-hue: var(--dark-bg);
	--bgcard-hue: var(--dark-bgcard);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Archivo Black', sans-serif;
	font-size: 100%;
	color: #fdfdfd;
	list-style: none;
	text-decoration: none;
}

body {
	background-color: var(--bg-hue);
	height: 100vh;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

/* HEADER */

header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: calc(15px + 3 * (100vw / 1370));
}

.brand {
	font-family: 'Wallpoet', cursive;
}

.nav {
	margin-right: 11rem;
}

.site-header__wrapper {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90vw;
}

header ul {
	display: flex;
	align-items: center;
	margin-right: 3rem;
}

header li {
	margin: 0 20px 0;
}

header a:hover {
	color: #282e33;
	transition: 0.3s ease-out;
}

/* #aboutMe, #myWork {
    color: #282e33;
} */

.email a {
	color: #282e33;
}

.email:hover a {
	color: #fc1d00;
	text-shadow: 0 0 1px #fc1d00;
	transition: all 0.5s ease;
}

.active {
	color: #282e33;
}

.hr-top {
	margin-top: 30px;
	width: 80%;
	border-color: #17141d;
	background-color: #17141d;
}

.brand {
	width: 280px;
}

/* MAIN */

#imFirst,
#imSecond {
	transition: transform 0.4s ease-out, left 0.4s ease-out, margin-left 0.4s ease-out;
	/*margin-left: 0px;*/
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#work {
	display: none;
}

.card {
	display: flex;
	flex-direction: column;
	height: 280px;
	width: 200px;
	background-color: var(--bgcard-hue);
	border-radius: 10px;
	/* box-shadow: -1rem 0 3rem var(--sh-hue); */
	box-shadow: -0.5rem 0 1rem rgba(0, 0, 0, 0.774);
	/*   margin-left: -50px; */
	transition: transform 0.4s ease-out, left 0.4s ease-out, margin-left 0.4s ease-out;
	position: relative;
	left: 0px;
}

.card:not(:first-child) {
	margin-left: -50px;
	transition: transform 0.4s ease-out, left 0.4s ease-out, margin-left 0.4s ease-out;
}

.card:hover {
	transform: translateY(-20px);
	transition: transform 0.4s ease-out, left 0.4s ease-out;
}

.card:hover~.card {
	position: relative;
	left: 50px;
	transition: transform 0.4s ease-out, left 0.4s ease-out, margin-left 0.4s ease-out;
}

.title {
	margin: 5px 0 15px 15px;
	font-size: calc(15px + 2 * (100vw / 1370));
}

.hr-card {
	/* width: 90%; */
	border-color: #17141d;
	background-color: #17141d;
}

.card-text {
	padding: 8px 15px;
	font-family: 'Titillium Web', sans-serif;
	color: #3b4349;
	font-size: calc(14px + 2 * (100vw / 1370));
}

.card:hover .card-text {
	background: linear-gradient(45deg, rgb(255, 251, 4) 0%, rgb(255, 251, 4) 65%, rgb(253, 153, 3) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: background .8s ease-out;
	background-position: 200px;
}



/* FOOTER */

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20%;
}

.wrapper {
	width: 30%;
	display: flex;
	justify-content: center;
}

.wrapper ul {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}

.icon {
	width: 30px;
	height: 30px;
	transition: all 0.5s ease;
	fill: #282e33;
}

/*facebook*/

.wrapper ul li:hover .facebook {
	fill: #0026ff;
	filter: drop-shadow(0 0 1px #0026ff);
}

/* linkedin */

.wrapper ul li:hover .linkein {
	fill: #fc00ac;
	filter: drop-shadow(0 0 1px #fc00ac);
}

/*telegram*/

.wrapper ul li:hover .telegram {
	fill: #01bbff;
	filter: drop-shadow(0 0 1px #01bbff);
}

/* github */

.wrapper ul li:hover .github {
	fill: #0dff00;
	filter: drop-shadow(0 0 1px #0dff00);
}

/* media queries */
@media (min-width: 1371px) {

	.icon {
		width: 35px;
		height: 35px;
	}

	.brand {
		width: 320px;
	}

	header ul {
		margin-right: 5rem;
	}

}

@media (max-width: 970px) {

	.nav {
		margin-right: 0;
	}

	.site-header__wrapper {
		flex-direction: column;
		width: 100vw;
		margin-top: 20px;
	}

	header ul {
		margin: 6px;
	}

	.hr-top {
		margin-top: 10px;
	}

}

@media (max-width: 769px) {

	header {
		font-size: calc(15px + (3 + 3 * 0.7) * ((100vw - 320px) / 1370));
	}

	.brand {
		width: 240px;
	}

	.icon {
		width: 25px;
		height: 25px;
	}

	body {
		height: 90vh;
	}

	.wrapper {
		width: 50%;
	}

	footer {
		height: 10%;
	}

	.card {
		height: 320px;
		width: 145px;
		/* box-shadow: -0.5rem 0 0.5rem var(--sh-hue); */
		flex-direction: row;
		border-width: 4px;
		box-shadow: -0.5rem 0 0.5rem rgba(0, 0, 0, 0.562);
		border-style: solid;
		border-image:
			linear-gradient(to bottom,
				red,
				rgba(0, 0, 0, 0)) 1 100%;
	}

	.card a {
		margin-bottom: 190px;
	}

	.card:not(:first-child) {
		margin-left: -60px;
	}

	.card:hover~.card {
		left: 55px;
	}

	.card:hover .card-text {
		background-position: 110px;
	}



	.title {
		writing-mode: tb-rl;
		margin: 4px 0 0 2px;
		font-size: calc(15px + (2 + 2 * 0.7) * ((100vw - 320px) / 1370));
	}

	.card-text {
		padding: 8px;
		font-size: calc(14px + (2 + 2 * 0.7) * ((100vw - 320px) / 1370));
	}

	.hr-card {
		display: none;
	}

}

@media (max-width: 576px) {

	.card:not(:first-child) {
		margin-left: -110px;
	}

	.card:hover~.card {
		left: 95px;
	}

	.brand {
		width: 220px;
	}
}

@media (max-width: 374px) {

	.card:not(:first-child) {
		margin-left: -90px;
	}

	.brand {
		width: 180px;
	}

	.icon {
		width: 20px;
		height: 20px;
	}

	.card {
		border-width: 3px;
		height: 265px;
		width: 120px;
	}

	.site-header__wrapper {
		margin-top: 13px;
	}

	.card-text {
		padding: 3px;
	}

	.card:hover~.card {
		left: 86px;
	}

	.card:hover .card-text {
		background-position: 90px;
	}



	.title {
		margin: 2px 0 0 3px;
	}

}