.ambassadors-first {
	/* background-color: #ebf9ef; */
	padding-bottom: 84px;
}

body {
	background-color: #ebf9ef;
}

/* .ambassadors-first hr {
    margin-top: 84px;
    margin-bottom: 0;
    width: 90%;
	border: 0;
	border-top: solid 0.5px #000000;
} */
hr {
	margin-top: 0;
	margin-bottom: 0;
	width: 90%;
	border: 0;
	border-top: solid 0.5px #000000;
}

.ambassadors-gif-title {
	max-width: 875px;
}

.ambassadors-first-title-container > h1 {
	font-family: 'archia-bold';
	font-size: 45px;
	line-height: 1.31;
	font-weight: bold;
	padding-top: 176px;
}

.ambassadors-first-title-container > p {
	font-family: 'archia-light';
	font-size: 14px;
	font-weight: 300;
	line-height: 1.79;
	max-width: 600px;
	margin: 0 auto;
	padding: 23px 0 40px 0;
	/* width: 80%; */
}

.ambassadors-gif-title img {
	/* transform: scaleX(3.1) scaleY(3); */
	width: 48%;
	height: 100%;
	/* width: 174px;
    height: 60px; */
}

.ambassador-img {
	width: 334px;
	height: 400px;
	background-color: black;
	border: solid 1px white;
}

.ambassador-img img {
	width: 100%;
	height: auto;
}

.ambassador-title {
	font-family: 'archia-bold';
	font-size: 18px;
	line-height: 1.39;
	max-width: 285px;
	padding-bottom: 16px;
	padding-top: 14px;
}

.ambassador-name {
	/* font-family: "archia-medium"; */
	font-family: 'archia-semibold';
	font-size: 14px;
	line-height: 1.79;
}

.ambassador-name span {
	margin: 0 10px;
}

.ambassador-position {
	/* font-family: "archia-medium"; */
	font-family: 'archia-bold';
	font-size: 14px;
	line-height: 1.79;
}

.ambassador-info-container > span {
	font-family: 'archia';
	font-size: 14px;
	line-height: 1.79;
	color: #282828;
}

.ambassadors-second {
	background-color: #ebf9ef;
	padding-top: 65px;
}

.join-block-container .join-left h5,
.join-form-container .join-left h5 {
	font-family: 'archia';
	font-size: 14px;
	line-height: 1.79;
	color: #282828;
	margin-bottom: 0;
}

.join-block-container .join-left > p {
	font-family: 'archia-semibold';
	font-size: 45px;
	line-height: 1.13;
	font-weight: 600;
	max-width: 390px;
}

.join-block-container .join-right {
	max-width: 496px;
	margin-right: 40px;
}

.join-block-container .join-right .ambassadors-internship span,
.join-block-container .join-right .ambassadors-tank span {
	font-family: 'archia-semibold';
	font-size: 18px;
	line-height: 1.79;
}

.join-block-container .join-right .ambassadors-internship {
	padding-top: 16px;
}

.join-block-container .join-right .ambassadors-research span {
	font-family: 'archia-semibold';
	font-size: 14px;
	line-height: 1.79;
}

.join-block-container .join-right > div:not(:last-child) {
	padding-bottom: 40px;
}

.join-block-container .join-right > div p {
	font-family: 'archia';
	font-size: 14px;
	line-height: 1.79;
	color: #282828;
}

.join-form-container .join-left p {
	font-family: 'archia-semibold';
	font-size: 30px;
	font-weight: 600;
	line-height: 1.17;
	max-width: 360px;
	padding-top: 16px;
}

.join-form-container .join-form__form input:first-child {
	padding-top: 0;
	height: 32px;
}

.ambassador-card {
	flex: 0 0 auto;
	margin: 24px 0;
}

.our-ambassadors {
	justify-content: space-between;
}

.ambassadors-second form {
	flex: 0 0 57%;
}

.join-form-container.join-form {
	padding: 100px 0;
}

.ambassadors-third {
	background-color: #fff;
}

/* section {
    padding-left: 138px;
    padding-right: 138px;
} */

/* .join-form .join-form__form {
    display: flex;
    flex-direction: column;
}

.join-form .join-form__form input {
    background: none;
    outline: none;
    border: none;
    height: 60px;
    border-bottom: 1px solid #979797;
    color: #282828;
    border-radius: 0;
    padding: 30px 0 0;
}

.join-form .join-form__form input:last-of-type {
    margin-bottom: 35px;
}

.join-form .join-form__form button {
    margin-left: auto;
    width: 196px;
} */

.join-block-container,
.join-form-container {
	flex-flow: row wrap;
}

@media screen and (max-width: 992px) {
	/* .join-block-container {
		flex-direction: column;
	} */
	.join-block-container,
	.join-form-container {
		justify-content: center !important;
	}

	.join-block-container .join-right .ambassadors-internship {
		padding-top: 32px;
	}

	.join-form-container.join-form {
		padding-top: 65px;
	}

	.join-form-container .join-form__form {
		padding-top: 60px;
		flex: 0 0 90%;
	}

	.join-form-container .join-left p {
		max-width: 490px;
	}

	.join-block-container .join-left > p {
		max-width: 544px;
	}
}

@media screen and (max-width: 572px) {
}

@media screen and (min-width: 1440px) {
	.ambassadors-first {
		padding-left: 138px;
		padding-right: 138px;
	}

	.ambassadors-second > .container {
		max-width: 1128px;
	}

	.ambassadors-third .footer_subscribe > .container {
		max-width: 1106px;
	}
}
