.ambassadors-first {
	padding-bottom: 84px;
}

body {
	background-color: #ebf9ef;
}

hr {
	margin-top: 0;
	margin-bottom: 0;
	width: 90%;
	border: 0;
	border-top: solid 0.5px #000000;
}

.ambassadors-gif-title {
	max-width: 875px;
	min-height: 451px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.ambassadors-first-title-container > h1 {
	font-family: 'archia-bold';
	font-size: 45px;
	line-height: 1.31;
	font-weight: bold;
	padding-top: 176px;
}

.ambassadors-first-title-container > p {
	font-family: 'archia-light';
	font-size: 14px;
	font-weight: 300;
	line-height: 1.79;
	max-width: 600px;
	margin: 0 auto;
	padding: 23px 0 40px 0;
}

.ambassadors-gif-title img {
	width: 48%;
	height: 100%;
}

.ambassador-img {
	width: 334px;
	height: 400px;
}

.ambassador-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.ambassador-title {
	font-family: 'archia-bold';
	font-size: 18px;
	line-height: 1.39;
	max-width: 285px;
	padding-bottom: 16px;
	padding-top: 14px;
}

.ambassador-name {
	font-family: "archia-medium";
	font-size: 14px;
	line-height: 1.79;
}

.ambassador-name span {
	margin: 0 10px;
}

.ambassador-position {
	font-family: "archia-medium";
	font-size: 14px;
	line-height: 1.79;
}

.ambassador-info-email {
	font-family: 'archia';
	font-size: 14px;
	line-height: 1.79;
	color: #282828;
	max-width: 334px;
}

.ambassadors-second {
	background-color: #ebf9ef;
	padding-top: 65px;
}

.join-block-container .join-left h5,
.join-form-container .join-left h5 {
	font-family: 'archia';
	font-size: 14px;
	line-height: 1.79;
	color: #282828;
	margin-bottom: 0;
}

.join-block-container .join-left > p {
	font-family: 'archia-semibold';
	font-size: 45px;
	line-height: 1.13;
	font-weight: 600;
	max-width: 390px;
}

.join-block-container .join-right {
	max-width: 496px;
	margin-right: 40px;
}

.join-block-container .join-right .ambassadors-internship span,
.join-block-container .join-right .ambassadors-tank span {
	font-family: 'archia-semibold';
	font-size: 18px;
	line-height: 1.79;
}

.join-block-container .join-right .ambassadors-internship {
	padding-top: 16px;
}

.join-block-container .join-right .ambassadors-research span {
	font-family: 'archia-semibold';
	font-size: 14px;
	line-height: 1.79;
}

.join-block-container .join-right > div:not(:last-child) {
	padding-bottom: 40px;
}

.join-block-container .join-right > div p {
	font-family: 'archia';
	font-size: 14px;
	line-height: 1.79;
	color: #282828;
}

.join-form-container .join-left p {
	font-family: 'archia-semibold';
	font-size: 30px;
	font-weight: 600;
	line-height: 1.17;
	max-width: 360px;
	padding-top: 16px;
}

.join-form-container .join-form__form input:first-child {
	padding-top: 0;
	height: 32px;
}

.ambassador-card {
	flex: 0 0 auto;
	margin: 24px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.our-ambassadors {
	justify-content: space-between;
	display: flex;
	flex-flow: row wrap;
}

.ambassadors-second form {
	flex: 0 0 57%;
}

.join-form-container.join-form {
	padding: 100px 0;
}

.ambassadors-third {
	background-color: #fff;
}

.ambassadors-third .footer_subscribe {
	padding: 75px 0 100px;
}

.join-block-container,
.join-form-container {
	flex-flow: row wrap;
}

@media screen and (max-width: 1100px) {
	.our-ambassadors {
		justify-content: space-around;
	}
}

@media screen and (max-width: 992px) {
	.join-block-container,
	.join-form-container {
		justify-content: center !important;
	}

	.join-block-container .join-right .ambassadors-internship {
		padding-top: 32px;
	}

	.join-form-container.join-form {
		padding-top: 65px;
	}

	.join-form-container .join-form__form {
		padding-top: 60px;
		flex: 0 0 90%;
	}

	.join-form-container .join-left p {
		max-width: 490px;
	}

	.join-block-container .join-left > p {
		max-width: 544px;
	}

	.ambassadors-first-title-container > h1 {
		padding-top: 164px;
	}

	.ambassadors-first {
		padding-bottom: 45px;
	}
}

@media screen and (max-width: 570px) {
	.ambassadors-gif-title img {
		width: 100%;
	}

	.ambassadors-gif-title {
		max-width: 288px;
		min-height: 140px;
		top: -10px ;
	}

	.ambassadors-first-title-container > h1 {
		padding-top: 126px;
		font-size: 36px;
	}

	.join-block-container .join-left > p {
		font-size: 30px;
	}
}

@media screen and (max-width: 360px) {
	.ambassadors-first-title-container > h1 {
		font-size: 26px;
		font-weight: bold;
		line-height: 1.38;
	}

	.ambassadors-first-title-container > p {
		padding: 12px 0 4px 0;
		max-width: 278px;
	}

	.ambassador-img {
		width: 278px;
		height: 332px;
	}

	.ambassador-card {
		margin: 18px 0;
	}

	.ambassador-title {
		font-family: 'archia-semibold';
		padding-top: 10px;
		padding-bottom: 12px;
		max-width: 278px;
	}

	.ambassadors-first {
		padding-bottom: 10px;
	}

	hr {
		width: 88%;
	}

	.ambassadors-second {
		padding-top: 23px;
	}

	.join-block-container .join-left > p {
		font-family: 'archia-bold';
		font-size: 26px;
		line-height: 1.38;
	}

	.join-block-container .join-right .ambassadors-internship {
		padding-top: 18px;
	}

	.join-block-container .join-right .ambassadors-internship span, .join-block-container .join-right .ambassadors-tank span {
		font-size: 20px;
		line-height: 1.25;
	}

	.join-block-container .join-right > div:not(:last-child) {
		padding-bottom: 45px;
	}

	.join-block-container .join-right > div p {
		padding-top: 8px;
	}

	.join-block-container .join-right .ambassadors-research span {
		font-size: 20px;
		line-height: 1.25;
	}

	.join-block-container .join-right {
		margin-right: 0;
	}

	.join-form-container.join-form {
		padding-top: 52px;
		padding-bottom: 43px;
	}

	.join-form-container .join-left p {
		padding-top: 0;
		font-size: 20px;
		line-height: 1.25;
	}

	.join-form-container .join-form__form {
		flex: 0 0 100%;
		padding-top: 30px;
	}

	.ambassadors-third .footer_subscribe {
		padding: 43px 0 100px;
	}

}

@media screen and (min-width: 1440px) {
	.ambassadors-first {
		padding-left: 138px;
		padding-right: 138px;
	}

	.ambassadors-second > .container {
		max-width: 1128px;
	}

	.ambassadors-third .footer_subscribe > .container {
		max-width: 1106px;
	}
}
