.сourses-first {
	background-color: #ddeaf7;
	padding-top: 100px;
	padding-bottom: 136px;
}
.сourses-first-title {
	font-family: 'archia';
	top: 12px;
	z-index: 1;
	font-size: 30px;
	font-weight: normal;
	line-height: 0.83;
}

.сourses-button {
	width: 178px;
}

.сourses-button span {
	font-size: 13px;
}

.сourses-first-subtitle {
	font-size: 22px;
	font-weight: 600;
	font-style: bold;
	padding-top: 117px;
	padding-bottom: 50px;
	line-height: 1.14;
}

.video-conteiner {
	width: 100%;
	height: 250px;
	overflow: hidden;
	/* object-fit: cover; */
}

.video-conteiner video {
	transform: scaleX(3.1) scaleY(3);
	width: 100%;
	height: 74%;
	/* margin-bottom: 60px;
	z-index: -1; */
}
/* .brarnds {
	padding-top: 50px;
} */
@supports (gap: 5%) and (display: flex) {
	.cont {
		gap: 5%;
	}

	.cont > div {
		margin: 0 !important;
	}
}

.cont {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	align-content: space-between;
	max-width: 884px;
	min-height: 154px;
	margin: 0 auto;
}

.cont > div {
	flex: 0 0 auto;
	width: max-content;
	max-width: 90px;
	margin: 0 18px;
	padding: 10px 0;
}

.cont div img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.second-bt {
	min-width: 108px;
	width: 108px;
}

.сourses-second {
	padding-bottom: 202px;
}

.сourses-second hr {
	width: 90%;
	border: 0;
	border-top: solid 0.5px #000000;
	margin-top: 115px;
	margin-bottom: 60px;
}

.сourses-second .container {
	position: relative;
}

@media screen and (min-width: 1441px) {
	.сourses-second .container {
		margin-right: 190px;
		padding-right: 0;
		max-width: 1380px;
	}
}

.сourses-second-title {
	font-family: 'archia-semibold';
	font-size: 30px;
	font-weight: 600;
	line-height: 1.23;
	color: #000000;
	padding-top: 84px;
}

.сourses-second-text {
	font-family: 'archia';
	font-size: 14px;
	line-height: 1.79;
	color: #282828;
	padding: 18px 0 25px 0;
}

.сourses-second-info {
	max-width: 412px;
}

.сourses-second-skills {
	margin-top: 67px;
	/* min-height: 124px; */
}

.сourses-second-skills div:nth-child(-n + 2) {
	height: 70px;
}

/* .сourses-second-skills > div {
	flex: 0 0 101px;
	height: auto;
} */

.сourses-second-skills p {
	padding: 5px 2px;
	color: #282828;
}

.сourses-second-skills hr {
	width: 44px;
	border: 0;
	border-top: solid 3px #000000;
}

.сourses-second-slider {
	background-color: #242424;
	flex: 0 0 398px;
	max-height: 258px;
	z-index: 1;
	align-self: flex-end;
	color: #ffffff;

	margin-right: -42px;
	/* margin-bottom: -16px; */
}

.сourses-second-img {
	position: absolute;
	/* right: -175px; */
	right: 0;
	top: -52px;
	flex: 0 0 auto;
	width: max-content;
	max-height: 595px;
	max-width: 706px;
	overflow: hidden;
}

.сourses-second-img > img {
	width: 100%;
	height: auto;
	object-fit: cover;
	/* height: auto;
	max-height: 706px;
	width: 100%;
	max-width: 605px;
	display: flex;
	margin-left: auto; */
}

.сourses-second .slick-arrow {
	top: 36%;
	background-color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.сourses-second .slick-arrow::before {
	right: 13px;
	width: 10px;
	height: 10px;
	top: 40%;
}

.сourses-second .slick-arrow::after {
	left: 10px;
	top: auto;
	width: 44%;
}

.сourses-second .slick-prev {
	left: -20px;
}

.сourses-second .slick-next {
	right: -20px;
}

/* .сourses-second .slick-prev::after {
	top: auto;
}

.сourses-second .slick-next::after {
	top: auto;
} */

.courses-slider > div {
	/* padding: 24px 38px 30px 38px; */
	margin: 24px 4px 30px 4px;
}

/* .courses-slider .slick-list.draggable {
    width: 398px;
    height: auto;
} */

.courses-slider div > p {
	font-size: 16px;
	padding: 18px 38px;
	/* font-weight: 600; */
}

.slider-card-review {
	font-family: 'archia-semibold';
	font-size: 16px;
	padding-bottom: 5px;
}

.courses-slider .slick-list.draggable {
	width: 398px;
	height: 258px;
}

/* .сourses-second .stat-card {
	flex: 0 0 20%;
} */

.сourses-second .custom-cont {
	padding: 0 7%;
}

.сourses-second .stat-card-wrapepr {
	/* align-content: flex-start; */
}

.сourses-second .custom-cont .stat-card-wrapepr span {
	font-size: 75px;
	font-weight: 500;
	font-family: 'archia-medium';
	color: #000;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: -1px;
	position: relative;
	/* margin-bottom: 25px; */
}

.сourses-second .custom-cont .stat-card-wrapepr span:after {
	content: '+';
	right: -60px;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	font-size: 75px;
	font-weight: 500;
	font-family: 'archia-medium';
}

.сourses-second .custom-cont .stat-card-wrapepr p {
	width: 64%;
	font-size: 14px;
	color: #000;
	font-family: 'archia-medium';
	font-weight: normal;
}

.сourses-second .custom-cont .stat-card-wrapepr .contact-number8 {
	width: max-content;
	display: inline-block;
	font-size: 75px;
	font-weight: 500;
	font-family: 'archia-medium';
	font-stretch: normal;
	font-style: normal;
	letter-spacing: -1px;
	position: relative;
	margin: 0;
}

.сourses-second .stat-card:not(:last-child) span::after {
	content: '' !important;
}

/* .сourses-second .contact-number {
	flex: 0 0 auto;
} */
.сourses-third {
	background-color: #ddeaf7;
	/* position: relative; */
	padding-top: 157px;
	padding-bottom: 119px;
	/* z-index: -1; */
}

.сourses-third-title {
	background: url('assets/img/brooke-cagle.png') 0 0;
	background-size: cover;
	width: 90%;
	/* position: absolute; */
	top: -245px;
	z-index: 0;
	/* min-width: 1280px; */
	min-height: 451px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}

.сourses-third .circle {
	width: 14px;
	height: 14px;
	background-color: #000000;
	border-radius: 50%;
}

.сourses-third-advantages {
	background-color: #fff;
	z-index: 1;
	padding: 44px 70px;
	line-height: 1.79;
}

.сourses-third-advantages > div {
	flex: 0 0 28%;
	/* min-height: 90px; */
}

.сourses-third-title h5 {
	width: 46%;
	font-family: 'archia-semibold';
	font-size: 40px;
	margin: 0 auto;
	color: #ffffff;
}

.advantages-title {
	font-family: 'archia-bold';
	font-size: 18px;
	padding-top: 16px;
}

.сourses-third-main-title {
	padding: 73px 0 6px 0;
	font-family: 'archia-semibold';
	font-size: 30px;
	line-height: 1.23;
}

.сourses-third-main-text {
	font-family: 'archia';
	width: 48%;
	line-height: 1.79;
	padding-bottom: 32px;
	color: #282828;
}

.сourses-third .accordion {
	width: 100%;
}

.сourses-third .accordion-header:hover {
	cursor: pointer;
}

.сourses-third .accordion-item {
	border-top: solid 1px #979797;
	width: 100%;
	padding: 20px 0;
}
/* .advantages-conteiner {

} */
.speshl-items > div {
	background-color: #ffffff;
	padding: 6px 16px;
	margin: 0 10px;
	flex: 0 0 auto;
	width: max-content;
	color: #282828;
	/* gap: 20px; */
}

.speshl-items {
	max-height: 31px;
	margin-left: auto;
}

.сourses-third .accordion-button {
	font-family: 'archia-semibold';
	font-size: 20px;
	line-height: 1.5;
}

.сourses-third .accordion-button span {
	margin: 0 5px;
}

.сourses-third .accordion-button p {
	font-size: 12px;
}

.accordion-item-show {
	position: relative;
	margin-left: 73px;
	margin-right: 11px;
	border: solid 1px #979797;
	height: 22px;
	width: 1px;
	background-color: #979797;
	/* animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both; */
	animation: rotate-plus 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.deployed-item {
	position: relative;
	margin-left: 73px;
	margin-right: 11px;
	border: solid 1px #979797;
	height: 22px;
	width: 1px;
	animation: rotate-minus 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes rotate-plus {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(90deg);
	}
}

@keyframes rotate-minus {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(90deg);
	}
}

.accordion-item-show::after {
	content: '';
	border: solid 1px #979797;
	background-color: #979797;
	height: 1px;
	width: 22px;
	position: absolute;
	left: -11px;
	bottom: 9px;
}

.сourses-third .accordion-body {
	max-width: 416px;
	padding-top: 34px;
	color: #282828;
}

.сourses-fourth {
	background-color: #242424;
	color: #ffffff;
	padding: 106px 0;
	overflow: hidden;
}

.special-content {
	padding-bottom: 305px;
}

.special-content h5 {
	font-family: 'archia-semibold';
	line-height: 0.82;
	font-size: 45px;
}

.special-content > p {
	font-family: 'archia';
	line-height: 1.79;
	max-width: 276px;
	padding: 16px 0 28px 0;
}

.fourth-bt {
	background-color: #ffffff;
	min-width: 108px;
	width: 108px;
	color: #000000;
	border: 1px solid #ffffff;
	color: #000000;
}

.fourth-bt span {
	color: #000000;
}

.fourth-bt:hover span {
	color: #ffffff;
}

.fourth-bt::after {
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background: black;
	border-bottom: 1px #ffffff;
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
	transform-origin: 100% 50%;
	position: absolute;
}

.special-slider-container {
	top: 0;
	left: 544px;
}

.special-slider-container .slick-list {
	min-width: 706px;
}

/* .special-slider-container > div {
	width: 298px;
	height: 408px;
	box-sizing: border-box;
	overflow: hidden;
} */

.special-slider-container .even-item {
	width: 298px;
	height: 408px;
	overflow: hidden;
	padding: 22px 18px 18px 28px;
	background-color: #fff;
	color: #000;
}

.special-slider-container .even-item p {
	font-family: 'archia-semibold';
	line-height: 1.14;
	font-size: 35px;
	padding-right: 20px;
}

.special-slider-container .even-item div {
	font-family: 'archia';
	line-height: 2.06;
	font-size: 18px;
	color: #242424;
}

.special-slider-container .even-item span {
	font-family: 'archia';
	line-height: 3.08;
	font-size: 12px;
	align-self: flex-end;
	margin-top: auto;
}

.special-slider-container .odd-item {
	width: 298px;
	height: 408px;
	overflow: hidden;
	margin: 0 30px;
	padding: 28px 25px 50px 25px;
	background-color: #000;
	color: #fff;
	border: solid 0.5px #ffffff8a;
}

.special-slider-container .odd-item p {
	font-family: 'archia';
	line-height: 1.79;
}

.сourses-fourth .slick-arrow {
	top: 74%;
}

.сourses-fourth .slick-prev {
	left: -546px;
}

.сourses-fourth .slick-next {
	left: -468px;
}

.сourses-fourth .slick-arrow::after {
	background-color: #fff;
}

.сourses-fourth .slick-arrow::before {
	border-color: #ffffff;
}

.special-join-container {
	position: relative;
	background-color: #fff;
	color: #000;
	max-width: 901px;
	margin: 0 auto;
	border-radius: 4px;
	padding: 46px 136px;
}

.special-join-container form {
	/* flex: 0 0 auto; */
	min-width: 632px;
}

.special-join-container > h5 {
	font-family: 'archia-bold';
	font-size: 30px;
	margin-bottom: 0;
}

.special-join-container > p {
	font-family: 'archia';
	font-size: 20px;
	margin-bottom: 25px;
}

.coming-container {
	position: absolute;
	left: 25px;
	top: 18px;
	width: 102px;
	height: 102px;
	/* transform: rotate(-30deg); */
	background-color: #ddeaf7;
	border-radius: 50%;
}

.coming-container div {
	font-family: 'archia';
	font-size: 16px;
	line-height: 1.19;
	width: 94px;
	height: 94px;
	transform: rotate(-18deg);
	border: solid 1px #000000;
	border-radius: 50%;
}

.сourses-fifth {
	padding-top: 56px;
	padding-bottom: 73px;
}

.trainer-img-container {
	max-width: 478px;
	min-height: 362px;
	margin-right: 66px;
}

.trainer-img-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.treiner-about {
	max-width: 442px;
}

.treiner-about h5 {
	font-family: 'archia-bold';
	font-size: 30px;
	line-height: 1.37;
}

.treiner-about > p {
	font-family: 'archia';
	line-height: 1.79;
	padding: 6px 0 18px 0;
	color: #0a0a0a;
}

/* .сourses-second .container {
	flex-flow: row wrap;
} */

@media screen and (max-width: 1294px) {
	/* .сourses-second-slider {
		margin-right: 40px;
	}

	.сourses-second-img {
		max-width: 574px;
	} */
	/* .сourses-second {
		background-color: #242424;
	} */
	.сourses-second .container {
		flex-direction: column;
		align-items: center;
		max-width: none;
		padding: 0;
		/* background-color: #242424; */
	}
	.сourses-second-info {
		order: 1;
	}
	.сourses-second-slider {
		align-self: normal;
		padding-top: 500px;
		margin-right: 0;
		flex: none;
		max-height: none;
		/* align-self: center; */
		/* margin-top: 215px; */
	}
	.сourses-second .slick-slider {
		/* max-width: 398px; */
		/* width: 100%; */
		justify-content: center;
	}

	.сourses-second-img {
		z-index: 1;
		/* top: -70px; */
		max-width: 636px;
		left: 0;
		right: 0;
		margin-right: auto;
		margin-left: auto;
	}

	.сourses-second .slick-prev {
		left: 20px;
	}

	.сourses-second .slick-next {
		right: 20px;
	}

	.courses-slider .slick-list.draggable {
		height: 224px;
	}

	.сourses-second .custom-cont .stat-card-wrapepr p {
		width: auto;
	}
}

@media screen and (max-width: 1080px) {
	.сourses-second .custom-cont .stat-card-wrapepr span,
	.сourses-second .custom-cont .stat-card-wrapepr .contact-number8,
	.сourses-second .custom-cont .stat-card-wrapepr span:after {
		font-size: 50px;
	}

	.сourses-second .custom-cont .stat-card-wrapepr span:after {
		right: -40px;
		top: 45%;
	}

	.speshl-items {
		max-height: none;
	}

	.speshl-items > div {
		margin: 4px 10px;
	}

	.сourses-third-title h5 {
		width: 80%;
	}

	.video-conteiner {
		height: 230px;
	}

	.cont {
		justify-content: center;
	}

	/* .trainer-img-container {
		margin-right: 0;
	} */
}

@media screen and (max-width: 768px) {
	.video-conteiner {
		height: 134px;
	}

	.сourses-first-title {
		top: -10px;
	}

	.сourses-first .link-contact {
		min-width: 164px;
		width: 164px;
		height: 52px;
		margin-top: 14px;
	}

	.сourses-first-subtitle {
		font-size: 20px;
	}

	.сourses-first-subtitle {
		padding-top: 70px;
		padding-bottom: 40px;
	}

	.сourses-first {
		padding-bottom: 110px;
	}

	.сourses-second-img {
		max-width: 540px;
	}

	.сourses-second-slider {
		padding-top: 426px;
	}

	.сourses-second-title {
		padding-top: 35px;
	}

	.second-bt {
		min-width: 164px;
		width: 164px;
		height: 52px;
	}

	.сourses-second hr {
		margin-top: 45px;
		margin-bottom: 45px;
	}

	.сourses-second .custom-cont .stat-card-wrapepr p {
		width: 64%;
	}

	.сourses-third-title {
		top: -154px;
		min-height: 322px;
	}

	.сourses-third-advantages {
		padding: 24px 15px;
	}

	.сourses-third-advantages > div {
		/* flex: 0 0 32%; */
	}

	.advantages-title {
		font-size: 16px;
	}

	.сourses-third-main-title {
		padding: 37px 0 6px 0;
	}

	.сourses-third {
		padding-bottom: 48px;
	}

	.сourses-fourth {
		padding: 64px 0;
	}

	.сourses-second .stat-card {
		margin: 10px 0;
	}

	.сourses-third-main-text {
		width: 100%;
	}

	.fourth-bt {
		min-width: 164px;
		width: 164px;
		height: 52px;
	}

	.special-slider-container {
		left: 0;
		position: relative !important;
	}

	.special-content {
		padding-bottom: 41px;
	}

	.special-join-container {
		margin-top: 51px;
		text-align: center;
		padding: 34px 18px;
	}

	.сourses-fifth .link-contact {
		min-width: 164px;
		width: 164px;
		height: 52px;
	}

	.сourses-fifth {
		padding-bottom: 114px;
	}

	.coming-container {
		width: 65px;
		height: 65px;
		top: -20px;
		left: 18px;
	}

	.coming-container div {
		width: 59px;
		height: 59px;
		font-size: 10px;
	}

	.special-join-container > h5 {
		max-width: 66%;
	}

	.special-join-container form {
		flex-direction: column;
		min-width: auto;
		width: auto;
	}

	.footer_subscribe_form button {
		width: 100%;
		margin-top: 11px;
	}

	.trainer-img-container {
		margin-right: 0;
		margin-bottom: 13px;
	}

	.сourses-fifth .container {
		flex-direction: column;
	}
}

@media screen and (max-width: 544px) {
	.video-conteiner {
		height: 95px;
	}

	.сourses-first-title {
		font-size: 14px;
		top: -6px;
	}

	.сourses-first {
		padding-top: 48px;
		padding-bottom: 96px;
	}

	.сourses-first-subtitle {
		padding-top: 38px;
		padding-bottom: 30px;
	}

	.cont {
		min-height: auto;
	}

	.cont > div {
		max-width: 61px;
	}

	.сourses-second-img {
		max-width: 280px;
	}

	.сourses-second-slider {
		padding-top: 184px;
	}

	.courses-slider div > p {
		font-size: 14px;
		font-weight: 500;
		padding: 16px 43px;
	}

	.courses-slider svg {
		width: 19px;
		height: 16px;
	}

	.сourses-second .slick-prev {
		left: 0;
		background-color: inherit;
		z-index: 1;
	}

	.сourses-second .slick-next {
		right: 0;
		background-color: inherit;
		z-index: 1;
	}

	.сourses-second .slick-arrow::before {
		border-color: #ffffff;
		width: 20px;
		height: 20px;
		top: 27%;
	}

	.сourses-second .slick-arrow::after {
		background-color: #fff;
		left: -1px;
		width: 80%;
	}

	.slider-card-review {
		font-size: 14px;
		padding-bottom: 0;
	}

	.courses-slider > div {
		margin: 24px 4px 0px 4px;
	}

	.сourses-second-title {
		font-size: 20px;
	}

	.сourses-second-text {
		padding: 8px 0 25px 0;
	}

	.сourses-second-info {
		padding: 0 25px;
	}

	.сourses-second-skills {
		margin-top: 54px;
		/* min-height: 250px; */
	}

	.сourses-second-skills div:nth-child(-n + 2) {
		height: auto;
	}

	.сourses-second-skills div {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.сourses-second-skills div:not(:last-child) {
		padding-bottom: 46px;
	}

	.сourses-second > hr {
		margin-top: 42px;
		margin-bottom: 24px;
		width: 85%;
	}

	.сourses-second .custom-cont .stat-card-wrapepr p {
		font-family: 'archia-medium';
	}

	.сourses-second .custom-cont .stat-card-wrapepr span {
		font-size: 55px;
	}

	.сourses-third-title {
		background: url(/assets/img/brooke-cagle.png) 50% 50%;
		background-size: cover;
		top: -108px;
		width: 277px;
		height: 205px;
		min-height: 205px;
	}

	.сourses-third-title h5 {
		font-size: 20px;
		line-height: 1.25;
	}

	.сourses-second {
		padding-bottom: 122px;
	}

	.сourses-third {
		padding-top: 60px;
	}

	.сourses-third-main-title {
		padding: 27px 0 6px 0;
	}

	.сourses-third-main-title,
	.сourses-third-main-text {
		text-align: center;
	}

	.сourses-third-main-title {
		font-size: 20px;
	}

	.сourses-third-main-text {
		width: 91%;
	}

	.сourses-third .accordion-button {
		font-size: 18px;
	}

	.сourses-third .accordion-button p {
		font-size: 14px;
	}

	.speshl-items > div {
		font-size: 12px;
		padding: 6px 12px;
		margin: 8px 10px;
	}

	.сourses-third .accordion-item {
		position: relative;
		/* min-height: 190px; */
		/* height: 162px; */
	}

	.сourses-third .accordion-body {
		padding-top: 14px;
		padding-bottom: 86px;
		line-height: 1.79;
		z-index: 0;
	}

	.speshl-items {
		position: absolute;
		bottom: 12px;
		left: -10px;
		z-index: 1;
		background-color: #ddeaf7;
	}

	.сourses-third .accordion-header {
		padding-bottom: 88px;
		transition: padding 0.3s;
	}

	.padding-0 {
		padding-bottom: 0 !important;
	}

	.padding-88 {
		padding-bottom: 88px !important;
	}

	.сourses-third-advantages > div {
		flex: auto;
	}

	.сourses-third-advantages > div:not(:last-child) {
		margin-bottom: 17px;
	}

	.special-content h5 {
		font-size: 20px;
	}

	.сourses-fourth {
		padding: 22px 0;
	}

	.special-content > p {
		padding: 16px 0 24px 0;
	}

	.special-slider-container .even-item {
		width: 250px;
		height: 330px;
		padding: 22px 18px 14px 18px;
	}

	.special-slider-container .even-item span {
		font-family: 'archia-light';
		line-height: 1.79;
		font-size: 14px;
		align-self: auto;
	}

	.special-slider-container .even-item div {
		font-family: 'archia-light';
		line-height: 1.79;
		font-size: 14px;
		padding-top: 12px;
	}

	.special-slider-container .even-item p {
		font-size: 26px;
		padding-right: 20px;
	}

	.special-slider-container .odd-item {
		width: 250px;
		height: 330px;
		padding: 18px;
	}

	.special-slider-container .odd-item p {
		font-size: 12px;
	}

	.special-join-container {
		border-radius: 1px;
		padding: 36px 15px 22px 15px;
	}

	.special-join-container > h5 {
		font-size: 20px;
		line-height: 1.56;
	}

	.special-join-container > p {
		/* font-family: "archia-medium"; */
		font-size: 16px;
		margin-bottom: 14px;
	}

	.treiner-about h5 {
		font-size: 20px;
		line-height: 1.29;
	}

	.treiner-about > p {
		padding: 0 0 21px 0;
	}

	.trainer-img-container {
		max-width: 288px;
		min-height: 210px;
		margin-right: 0;
	}

	.сourses-fifth {
		padding-top: 27px;
	}
}

@media screen and (max-width: 450px) {
	.special-join-container form {
		width: 100%;
	}

	.footer_subscribe_form button {
		margin-top: 0;
	}
}

@media screen and (max-width: 320px) {
	.cont {
		gap: 4%;
		padding: 0 6px;
		justify-content: space-between;
	}

	.cont > div:nth-child(10) {
		margin: 0 10px !important;
	}
}
